APP_URL = http://localhost:3030/api/v1/
PORT = 3030
CONNECTION_STRING = mongodb://localhost:27017/portfolio
SECRET_KEY = Sabbir_Secretkey
EMAIL_USER = drivemovie721@gmail.com
EMAIL_PASSWORD = olssmvtmmdfgbuvq 
