$primaryColor:#845EC2;
$secondaryColor:#2C73D2;
$thirdColor:#0081CF;
$fourthColor:#0089BA;
$fifthColor:#008E9B;
$sixthColor:#008F7A;


$poppinsFont:'Poppins', sans-serif;
$orbitronFont:'Orbitron', sans-serif;
$caveatFont:'Caveat', cursive;

